.container {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.add-user-btn {
  padding: 9px 15px;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.user-section {
  border: 1px solid black;
  padding: 20px 35px;
  width: 400px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 30px;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.user-section:hover {
  transform: scale(1.03);
}

.user-field {
  display: flex;
  align-items: center;
}

.user-field h3 {
  margin-right: 10px;
}

.form {
  border: 1px solid black;
  width: fit-content;
  margin: auto;
  padding: 10px 35px;
  border-radius: 10px;
  margin-top: 40px;
}

.form-field {
  text-align: left;
}

.form-input {
  padding: 10px 15px;
  width: 300px;
  border-radius: 15px;
  border: none;
  background-color: rgb(235, 234, 234);
}

.form-btn,
.delete-btn {
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 9px 15px;
  border: none;
  border-radius: 10px;
  background-color: lightgreen;
  cursor: pointer;
  text-decoration: none;
}

.delete-btn {
  background-color: red;
  margin-left: 20px;
}

.loading-spin {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
